<!DOCTYPE html>
<html>

<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {

            padding: 2px;
        }

        

        #customers th {
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: left;
            color: black;
        }
    </style>
</head>

<body>
    <header>
        <div style="display: flex;  width: 100%; border-bottom: solid 0.5px;  margin-bottom: 10px">
            <div style="width: 15%"><img src="cbse.png" width="55px" /></div>
            <div style="text-align: center;padding: 5px 8px;width: 70%">
                <div style="
        padding-bottom: 0.1px; font-weight: 600;font-size: 24px; text-transform: capitalize;">
                    Gungun International School
                </div>
                <div style="
        padding-bottom: 0.1px; font-weight: 600;font-size: 12px;">
                    Affiliated to CBSE, Affiliation No. 114554
                </div>
                <div style="
        padding-bottom: 0.1px;font-weight: 600;font-size: 12px;">
                    Address123,Address,State
                </div>
                <div style="
        padding-bottom: 0.1px;font-weight: 600;font-size: 12px;">
                    Ph. 011-55484774, Email: Demo@trixno.com
                </div>
            </div>
            <div style="width: 15%">
                <!-- <img src="cbse.png" width="55px" /> -->
            </div>
            <!-- <div style="width: 15%"><img src="cbse.png" width="45px" /></div> -->
        </div>



    </header>
    <main>
        <hr>
        <table id="customers">
            <div style="text-align: center;padding-bottom: 10px; font-weight: 600;font-size: 16px;">School Leaving
                Certificate</div>
            <p style="font-size: 14px; line-height: 1.5;padding-bottom: 10px;">Certified that <span
                    style="text-transform: uppercase; font-weight: 600">Ravi Kumar Ranjan</span> S/o <span
                    style="text-transform: uppercase; font-weight: 600">Father's name</span>
                attended this school from <span style="text-transform: uppercase; font-weight: 600">Admission
                    date</span>
                and now leaves the school having paid all dues to date. As per our school record his/her information is
                as under mentioned.</p>
            <!-- <div style="display: flex;"> -->


            <tr>
                
                <th>Student's name</th>
                <th>:</th>
                <th>Ravi Kumar Raaanjan</th>
            </tr>
            <tr>
                <div style="padding-bottom: .1px;display: flex"></div>
                    <td><div style="width: 35%; ">Whether NCC Cadet (Give Details) </div></td>
                    <td><div style="width: 5%; ">:</div></td>
                    <td><div style="width: 60%; ">yes</div></td>
                  
            </tr>
            <tr>
                <td>Father's Name</td>
                <td>:</td>
                <td>Father's Name</td>
            </tr>
            <tr>
                <td>Mother's Name</td>
                <td>:</td>
                <td>Mother's Name</td>
            </tr>
            <tr>
                <td>Mother's Name</td>
                <td></td>
                <td>Indian</td>
            </tr>
            <tr>
                <td>Category</td>
                <td></td>
                <td>General</td>
            </tr>
            <tr>
                <td>Date of birth</td>
                <td></td>
                <td>Date of birth</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
            </tr>
            <tr>
                <td>North/South</td>
                <td>Simon Crowther</td>
                <td>UK</td>
            </tr>
            <tr>
                <td>Paris spécialités</td>
                <td>Marie Bertrand</td>
                <td>France</td>
            </tr>
        </table>
    </main>
</body>

</html>